body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(100deg, #201f47 15%,  #15142c 100% );
    color: #201f47;
    font-weight: 600;
    overflow: hidden;
}
main{
    width: 100%;
    height: 98vh;
    min-width: 300px;
    min-height: 300px;
    display: grid; 
    grid-template-columns: auto;
    align-content: center;
    border: solid;
}
form{
    margin: auto;
    width: 70%;
    height: auto;
    min-height: 300px;
    max-width: 100%;
    background-color:#BCDBE5;
    border-radius: 10px;
    text-align: center;
}
#contenedor{
    border: solid 2px;
    width: 80%;
    min-height:25px;
    height: auto;
    margin: auto;
    position: relative;
    top: 150px;
    border-radius: 5px;
    overflow: hidden;
    overflow-x: scroll;
}
#contenedor::-webkit-scrollbar{
    background-color: transparent;
}
input{
    background-color: #BCDBE5;
    border: solid 3px;
    border-left: solid transparent;
    border-right: solid transparent;
    border-top: solid transparent;
    width: 200px;
    position: relative;
    top: 40px;
}
.git{
    margin: auto;
    position: absolute;
    top: 3%;
    left: 3%;
    color: #BCDBE5;
}
a{
    color: #BCDBE5;
}a:hover{
    color: #81b9cc;
}
.btn{
    background: linear-gradient(100deg, #201f47 15%,  #15142c 100% );
    padding: 4px;
    border-radius: 5px;
    color: #BCDBE5;
    position: relative;
    top: 40px;
}
.move{
    animation: mov 1s linear 5;
    position: relative;
}
@keyframes mov{
    0%{
        left: 10px;
    }10%{
        left: -20px;
    }15%{
        left: 5px;
    }25%{
        left: -10px;
    }35%{
        left: 3px;
    }40%{
        left: -6px;
    }50%{
        left: 0px;
    }100%{
        background-color: red;
    }
}

@media screen and (max-width: 500px) {
        form{
        width: 95%;
    }
}